.text-field {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
    -fx-min-height: 30px;
}

.combo-box {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
    -fx-min-height: 30px;
}

.label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
    -fx-background-color: #f4f4f4;
    /* Top, Right, Bottom, Left */
    -fx-padding: 0, 3, -5, 3;
}

.stack-pane {
    -fx-background-color: #f4f4f4;
}

.text-titulo {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
}

.button {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
    -fx-min-height: 30px;
}

.campo-obrigatorio {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
    -fx-text-fill: red;
}
