.button-menu {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 17px;
    -fx-min-width: 150.0;
    -fx-min-height: 30.0;
    -fx-pref-width: 230;
    -fx-pref-height: 35;
    -fx-background-color: rgb(14, 17, 23, 1.0);
    -fx-text-fill: #ffffff;
    -fx-padding: 0 0 0 10; /* Top, Right, Bottom, Left */
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.vbox-menu {
    -fx-padding: 20 0 0 30;
    -fx-spacing: 5;
}

.button-submenu {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 17px;
    -fx-min-width: 150.0;
    -fx-min-height: 30.0;
    -fx-pref-width: 230;
    -fx-pref-height: 35;
    -fx-background-color: rgb(14, 17, 23, 0.4);
    -fx-text-fill: #ffffff;
    -fx-padding: 0 0 0 30;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.vbox-submenu {
    -fx-padding: 0 0 0 0;
    -fx-spacing: 5;
}