.padrao-geral-texto {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
}

.vbox-login {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
    -fx-spacing: 10.0;
    -fx-alignment: center;
    -fx-max-width: 350.0;
    -fx-max-height: 500.0;
    -fx-padding: 50, 50, 50, 50;
    -fx-background-color: rgb(255, 255, 255);
    -fx-background-radius: 10;
}

.vbox-banco {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
    -fx-spacing: 10.0;
    -fx-alignment: center;
    -fx-max-width: 350.0;
    -fx-max-height: 500.0;
    -fx-padding: 30, 50, 0, 50; /* Top, Right, Bottom, Left */
    -fx-background-color: rgb(242, 242, 242);
}

.label-rodape {
    -fx-background-color: rgb(0, 173, 181);
    -fx-max-height: 50.0;
    -fx-max-width: Infinity;
    -fx-alignment: center-right;
}

.border-pane {
    -fx-background-color: rgb(242, 242, 242);
}

.button-configuracao-banco {
    -fx-background-color: rgb(0, 173, 181);
    -fx-background-radius: 0;
}

.button-configuracao-banco-clique {
    -fx-background-color: #224466;
    -fx-text-fill: white;
}
